<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <nav class="custom-navbar navbar navbar-expand-md navbar-dark bg-dark" aria-label="Furni navigation bar">
        <div class="container">
            <a class="navbar-brand" href="/index/<%= user ? user.id : '' %>">Furni<span>.</span></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsFurni">
                <ul class="custom-navbar-nav navbar-nav me-auto mb-2 mb-md-0 d-flex">
                    <li>
                        <a class="nav-link" href="/index/<%= user ? user.id : '' %>">Home</a>
                    </li>
                    <li class="nav-item active"><a class="nav-link" href="/shop/<%= user ? user.id : '' %>">Shop</a></li>
                    <li><a class="nav-link" href="/about/<%= user ? user.id : '' %>">About</a></li>
                    <li><a class="nav-link" href="/services/<%= user ? user.id : '' %>">Services</a></li>
                </ul>

                <!-- Search Form -->
                <form class="d-flex ms-5" role="search" action="/search" method="GET">
                    <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search" required>
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>

                <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                    <li><a class="nav-link" href="/user/<%= user ? user.id : '' %>"><img src="../assets/images/user.svg"></a></li>
                    <li><a class="nav-link" href="/cart/<%= user ? user.id : '' %>"><img src="../assets/images/cart.svg"></a></li>
                </ul>
            </div>
        </div>
    </nav>

    
    
    <div class="untree_co-section product-section before-footer-section">
        <div class="container">
            <div class="row">
                <% if (products && products.length > 0) { %>
                    <% products.forEach(product => { %>
                        <div class="col-12 col-md-4 col-lg-3 mb-5">
                            <a class="product-item" href="/product/<%= product.id %>" 
                               data-title="<%= product.name %>"
                               data-price="$<%= product.price %>"
                               data-image="<%= product.image_url %>"
                               data-id="<%= product.id %>">
                                <img src="<%= product.image_url %>" class="img-fluid product-thumbnail">
                                <h3 class="product-title"><%= product.name %></h3>
                                <strong class="product-price">$<%= product.price %></strong>
                            </a>
                        </div>
                    <% }) %>
                <% } else { %>
                    <div class="col-12">
                        <h3>No products found matching your search.</h3>
                    </div>
                <% } %>
            </div>
        </div>
    </div>

    <!-- Modal Template -->
    <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="productModalLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img id="productImage" src="" class="img-fluid mb-3">
            <p><strong id="productPrice"></strong></p>
            <form action="/add" method="POST">
              <input type="hidden" name="productId" id="modalProductId">
              <div class="form-group">
                <label for="quantity">Quantity:</label>
                <input type="number" name="quantity" class="form-control" min="1" value="1">
              </div>
              <button type="submit" class="btn btn-primary mt-3">Add to Cart</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- JavaScript to Handle Modal Content -->

    <%- include('partials/footer') %>
    <%- include('partials/scripts') %>
    
    <!-- Add Bootstrap JS and dependencies if not already included -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
